{% extends 'base.html' %}

{% block title %}
    {{ title}}
{% endblock title %}

{% block header %}
    <h1>State of green and red LED</h1>
{% endblock header %}

{% block content %}
    {% for pin in pin_dict %}
        <p>
        {{ pin_dict[pin].led_colour }}
        {% if pin_dict[pin].led_state == 0 %}
            currently is OFF
            <hr />
        {% else %}
            currently is ON
        {% endif%}
        </p>
    {% endfor %}
    <p>
        To change red led <a href='/red'>Click here</a><br/>
        To change green led <a href='/green'>Click here</a>
    </p>
{% endblock content %}

